@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --dark-primary: #141c30;
  --dark-secondary: #f6fbff;
  --dark-tertiary: #1f2a48;
  --btn-primary: #0179fe;
  --light-primary: #f6f8ff;
  --light-secondary: #141d2f;
  --light-tertiary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--dark-primary);
  color: var(--dark-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  min-height: 100%;
  max-width: 425px;
  font-family: "Space Mono", monospace;
  padding: 1rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main-logo > h1 {
  font-weight: 500;
}

.theme-switcher {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.theme-switcher > h2 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

#main {
  width: 100%;
}

.search-bar {
  width: 100%;
  margin: 1rem 0;
  padding: 8px;
  padding-left: 1rem;
  background-color: var(--dark-tertiary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-bar .search-icon {
  width: 25px;
  height: 25px;
}
.search-bar .search-icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search-bar input {
  background-color: transparent;
  padding: 10px;
  border: none;
  color: var(--dark-secondary);
  flex: 1;
  border-radius: 8px;
}
.search-bar input[type=text]:focus {
  outline: none;
}
.search-bar input[type=text]::-moz-placeholder {
  color: var(--dark-secondary);
  opacity: 0.75;
}
.search-bar input[type=text]::placeholder {
  color: var(--dark-secondary);
  opacity: 0.75;
}
.search-bar input[type=text] {
  color: var(--dark-secondary);
  opacity: 0.75;
  cursor: text;
}
.search-bar input[type=submit] {
  background-color: var(--btn-primary);
  border-radius: 10px;
  flex: none;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.user-card-container {
  background-color: var(--dark-tertiary);
  border-radius: 10px;
}

.user-card {
  width: 100%;
  background-color: inherit;
  padding: 1rem;
  border-radius: 10px;
}
.user-card .card-header {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.user-card .card-header .profile-pic {
  overflow: hidden;
}
.user-card .card-header .profile-pic img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-card .card-header .profile-info {
  padding-top: 0.5rem;
  flex: 1;
}
.user-card .card-header .profile-info .profile-identity h2 {
  line-height: 1;
}
.user-card .card-header .profile-info .profile-identity p {
  margin-top: 8px;
  color: var(--btn-primary);
}
.user-card .card-header .profile-info .profile-identity p span {
  font-size: 1rem;
  font-weight: 500;
  padding-right: 2px;
}
.user-card .card-header .profile-info p {
  font-size: 12px;
}
.user-card .card-bio {
  margin: 1rem 0;
}
.user-card .user-aura {
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--dark-primary);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.user-card .user-aura .user-aura-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.user-card .other-info-container {
  width: 100%;
}
.user-card .other-info-container .other-info-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.user-card .other-info-container .other-info-col .other-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-card .other-info-container .other-info-col .other-info .other-info-logo {
  width: 25px;
  height: 25px;
}
.user-card .other-info-container .other-info-col .other-info .other-info-logo img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-card .other-info-container .other-info-col .other-info a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 426px) {
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .user-card {
    padding-bottom: 2rem;
  }
  .other-info-col {
    flex-direction: row !important;
    justify-content: space-around;
  }
  .skeleton-text-mini {
    width: 100px !important;
    margin-bottom: 0;
  }
}
.light {
  background-color: var(--light-primary) !important;
  color: var(--light-secondary) !important;
}

.light-search {
  background-color: var(--light-tertiary) !important;
  color: var(--light-secondary) !important;
}

.user-aura-light {
  background-color: var(--light-primary) !important;
}

.input-light {
  color: var(--light-secondary) !important;
}

.input-light::-moz-placeholder {
  color: var(--light-secondary) !important;
}

.input-light::placeholder {
  color: var(--light-secondary) !important;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text-half {
  width: 75%;
}

.skeleton-text-mini {
  width: 25%;
  margin-bottom: 0;
}

.skeleton-container {
  width: 100%;
  height: 100px;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

@keyframes popup-alert {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.popup-alert {
  font-family: "Space Mono", monospace;
  animation: popup-alert 0.3s ease-out;
  background-color: var(--dark-primary);
  color: var(--dark-secondary);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.alert-container {
  box-sizing: content-box;
  height: 403.4px;
  display: grid;
  place-content: center;
}/*# sourceMappingURL=style.css.map */